body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}

.box{
	width: 600px;
	padding: 90px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 62px;
}

.box input[type = "text"],.box input[type = "password"]
{
	border: 0px;
	background: none;
	display: block;
	margin: 40px auto;
	text-align: center;
	border: 6px solid #3498db;
	padding: 14px 10px;
	width: 340px;
	outline: none;
	color: white;
	border-radius: 50px;
	transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
	width: 500px;
	border-color: red;
}

.box input[type = "submit"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 6px solid #2ecc71;
	padding: 14px 40px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 48px;
	transition: 0.25s;
	cursor: pointer;
	font-size: 30px;
}

.box input[type = "submit"]:hover
{
	background: #2ecc71;
}

.block{
	margin-top: 1400px;
	color: white;
	font-family: 'merienda',cursive;
	font-size: 65px;
	margin-left: 600px
}

.box [placeholder = "Username"]:focus, [placeholder = "Password"]:focus
{
	font-size: 45px;
}

.box [placeholder = "Username"], [placeholder = "Password"]
{
	font-size: 38px;
}
